##### Working with Missing Data in Pandas using Market Data

##### ðŸŒ·Input Data

In [20]:
# Input Data
import pandas as pd
data= pd.read_csv('market_data.csv')
print(data)

     Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
0              FDA15        9.300          Low Fat         0.016047
1              DRC01        5.920          Regular         0.019278
2              FDN15       17.500          Low Fat         0.016760
3              FDX07       19.200          Regular         0.000000
4              NCD19        8.930          Low Fat         0.000000
...              ...          ...              ...              ...
8518           FDF22        6.865          Low Fat         0.056783
8519           FDS36        8.380          Regular         0.046982
8520           NCJ29       10.600          Low Fat         0.035186
8521           FDN46        7.210          Regular         0.145221
8522           DRG01       14.800          Low Fat         0.044878

                  Item_Type  Item_MRP Outlet_Identifier  \
0                     Dairy  249.8092            OUT049
1               Soft Drinks   48.2692            OUT018
2                      Meat  141.6180            OUT049
3     Fruits and Vegetables  182.0950            OUT010
4                 Household   53.8614            OUT013
...                     ...       ...               ...
8518            Snack Foods  214.5218            OUT013
8519           Baking Goods  108.1570            OUT045
8520     Health and Hygiene   85.1224            OUT035
8521            Snack Foods  103.1332            OUT018
8522            Soft Drinks   75.4670            OUT046

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
0                          1999      Medium               Tier 1
1                          2009      Medium               Tier 3
2                          1999      Medium               Tier 1
3                          1998         NaN               Tier 3
4                          1987        High               Tier 3
...                         ...         ...                  ...
8518                       1987        High               Tier 3
8519                       2002         NaN               Tier 2
8520                       2004       Small               Tier 2
8521                       2009      Medium               Tier 3
8522                       1997       Small               Tier 1

            Outlet_Type  Item_Outlet_Sales
0     Supermarket Type1          3735.1380
1     Supermarket Type2           443.4228
2     Supermarket Type1          2097.2700
3         Grocery Store           732.3800
4     Supermarket Type1           994.7052
...                 ...                ...
8518  Supermarket Type1          2778.3834
8519  Supermarket Type1           549.2850
8520  Supermarket Type1          1193.1136
8521  Supermarket Type2          1845.5976
8522  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [21]:
# Melihat nilai missing values
print(data.isnull().sum())

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [22]:
data.head(n=10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350

In [23]:
# Menyamakan values pada kolom "Item_Fat_Content"
print(data['Item_Fat_Content'].unique())

['Low Fat' 'Regular' 'low fat' 'LF' 'reg']

In [24]:
# Ubah jadi huruf kecil semua untuk memudahkan pemetaan
data['Item_Fat_Content'] = data['Item_Fat_Content'].str.lower()

# Mapping nilai ke bentuk standar
data['Item_Fat_Content'] = data['Item_Fat_Content'].replace({
    'low fat': 'Low Fat',
    'lf': 'Low Fat',
    'reg': 'Regular',
    'regular': 'Regular'
})
print(data['Item_Fat_Content'].unique())

['Low Fat' 'Regular']

##### ðŸŒ·Mengatasi Missing Values untuk kolom Item_Weight

In [25]:
# Cek missing values pada kolom
data['Item_Weight'].isnull().sum()
print("Missing values sebanyak:", data['Item_Weight'].isnull().sum())
# Menampilkan 10 baris pertama yang memiliki missing values di kolom 'Item_Weight'
data[data['Item_Weight'].isnull()].head(10)

Missing values sebanyak: 1463

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
18,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
21,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
23,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
29,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362
36,FDV20,NaN,Regular,0.059512,Fruits and Vegetables,128.0678,OUT027,1985,Medium,Tier 3,Supermarket Type3,2797.6916
38,FDX10,NaN,Regular,0.123111,Snack Foods,36.9874,OUT027,1985,Medium,Tier 3,Supermarket Type3,388.1614
39,FDB34,NaN,Low Fat,0.026481,Snack Foods,87.6198,OUT027,1985,Medium,Tier 3,Supermarket Type3,2180.4950
49,FDS02,NaN,Regular,0.255395,Dairy,196.8794,OUT019,1985,Small,Tier 1,Grocery Store,780.3176
59,FDI26,NaN,Low Fat,0.061082,Canned,180.0344,OUT019,1985,Small,Tier 1,Grocery Store,892.1720

In [26]:
# Melihat apakah kolom Item_Identifier bisa digunakan sbg rata2 untuk mengisi missing values
print("Jumlah total baris:", len(data))
print("Jumlah nilai unik di 'Item_Identifier':", data['Item_Identifier'].nunique())

Jumlah total baris: 8523
Jumlah nilai unik di 'Item_Identifier': 1559

In [27]:
# Menggunakan rata2 Item_Identifier untuk mengisi Missing Values Item_Weight

# Hitung rata-rata berat per item
item_avg_weight = data.groupby('Item_Identifier')['Item_Weight'].transform('mean')

# Isi missing values dengan nilai rata-rata berdasarkan Item_Identifier
data['Item_Weight'] = data['Item_Weight'].fillna(item_avg_weight)

print(data.head(10))  # atau data.head() untuk 5 baris

  Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
0           FDA15        9.300          Low Fat         0.016047
1           DRC01        5.920          Regular         0.019278
2           FDN15       17.500          Low Fat         0.016760
3           FDX07       19.200          Regular         0.000000
4           NCD19        8.930          Low Fat         0.000000
5           FDP36       10.395          Regular         0.000000
6           FDO10       13.650          Regular         0.012741
7           FDP10       19.000          Low Fat         0.127470
8           FDH17       16.200          Regular         0.016687
9           FDU28       19.200          Regular         0.094450

               Item_Type  Item_MRP Outlet_Identifier  \
0                  Dairy  249.8092            OUT049
1            Soft Drinks   48.2692            OUT018
2                   Meat  141.6180            OUT049
3  Fruits and Vegetables  182.0950            OUT010
4              Household   53.8614            OUT013
5           Baking Goods   51.4008            OUT018
6            Snack Foods   57.6588            OUT013
7            Snack Foods  107.7622            OUT027
8           Frozen Foods   96.9726            OUT045
9           Frozen Foods  187.8214            OUT017

   Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
0                       1999      Medium               Tier 1
1                       2009      Medium               Tier 3
2                       1999      Medium               Tier 1
3                       1998         NaN               Tier 3
4                       1987        High               Tier 3
5                       2009      Medium               Tier 3
6                       1987        High               Tier 3
7                       1985      Medium               Tier 3
8                       2002         NaN               Tier 2
9                       2007         NaN               Tier 2

         Outlet_Type  Item_Outlet_Sales
0  Supermarket Type1          3735.1380
1  Supermarket Type2           443.4228
2  Supermarket Type1          2097.2700
3      Grocery Store           732.3800
4  Supermarket Type1           994.7052
5  Supermarket Type2           556.6088
6  Supermarket Type1           343.5528
7  Supermarket Type3          4022.7636
8  Supermarket Type1          1076.5986
9  Supermarket Type1          4710.5350

In [28]:
print("Missing values di Item_Weight:", data['Item_Weight'].isnull().sum())

Missing values di Item_Weight: 4

In [29]:
# Karena masih ada sisa 4 missing values, maka akan dilakukan penanganan missing values 
# menggunakan rata-rata per kategori Item_Type

# Melihat kategori apa saja yang ada di kolom Item_Type
print("Daftar kategori unik di kolom Item_Type:")
print(data['Item_Type'].unique())

Daftar kategori unik di kolom Item_Type:
['Dairy' 'Soft Drinks' 'Meat' 'Fruits and Vegetables' 'Household'
 'Baking Goods' 'Snack Foods' 'Frozen Foods' 'Breakfast'
 'Health and Hygiene' 'Hard Drinks' 'Canned' 'Breads' 'Starchy Foods'
 'Others' 'Seafood']

In [30]:
# Mengisi 4 kolom missing values di kolom Item_Weight
item_type_avg_weight = data.groupby('Item_Type')['Item_Weight'].transform('mean')

# Hanya isi baris yang masih NaN setelah langkah sebelumnya
data['Item_Weight'] = data['Item_Weight'].fillna(item_type_avg_weight)

print("Sisa missing values di Item_Weight:", data['Item_Weight'].isnull().sum())

Sisa missing values di Item_Weight: 0

##### ðŸŒ·Mengatasi Missing Values untuk kolom Outlet_Size

In [31]:
# Cek missing values pada kolom
data['Outlet_Size'].isnull().sum()
print("Missing values sebanyak:", data['Outlet_Size'].isnull().sum())
# Menampilkan 10 baris pertama yang memiliki missing values di kolom 'Item_Weight'
data[data['Outlet_Size'].isnull()].head(10)

Missing values sebanyak: 2410

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350
25,NCD06,13.000,Low Fat,0.099887,Household,45.9060,OUT017,2007,NaN,Tier 2,Supermarket Type1,838.9080
28,FDE51,5.925,Regular,0.161467,Dairy,45.5086,OUT010,1998,NaN,Tier 3,Grocery Store,178.4344
30,FDV38,19.250,Low Fat,0.170349,Dairy,55.7956,OUT010,1998,NaN,Tier 3,Grocery Store,163.7868
33,FDO23,17.850,Low Fat,0.000000,Breads,93.1436,OUT045,2002,NaN,Tier 2,Supermarket Type1,2174.5028
45,FDM39,6.420,Low Fat,0.089499,Dairy,178.1002,OUT010,1998,NaN,Tier 3,Grocery Store,358.2004
46,NCP05,19.600,Low Fat,0.000000,Health and Hygiene,153.3024,OUT045,2002,NaN,Tier 2,Supermarket Type1,2428.8384
47,FDV49,10.000,Low Fat,0.025880,Canned,265.2226,OUT045,2002,NaN,Tier 2,Supermarket Type1,5815.0972

In [32]:
# Filter hanya baris yang Outlet_Size-nya missing
missing_outlet_size = data[data['Outlet_Size'].isnull()]

# Lihat jumlah missing berdasarkan Outlet_Type
print(missing_outlet_size['Outlet_Type'].value_counts())

Outlet_Type
Supermarket Type1    1855
Grocery Store         555
Name: count, dtype: int64

In [33]:
# Isi missing values di Outlet_Size untuk Grocery Store dengan 'Small'
data.loc[(data['Outlet_Type'] == 'Grocery Store') & (data['Outlet_Size'].isnull()), 'Outlet_Size'] = 'Small'
print("Sisa missing values Outlet_Size:", data['Outlet_Size'].isnull().sum())

Sisa missing values Outlet_Size: 1855

In [ ]:
# Filter baris yang Outlet_Size-nya masih missing
missing_outlet_size = data[data['Outlet_Size'].isnull()]

# Tampilkan Item_Identifier yang terlibat
missing_outlet_size[['Item_Identifier', 'Outlet_Type', 'Outlet_Size']].head(10)

   Item_Identifier        Outlet_Type Outlet_Size
8            FDH17  Supermarket Type1         NaN
9            FDU28  Supermarket Type1         NaN
25           NCD06  Supermarket Type1         NaN
33           FDO23  Supermarket Type1         NaN
46           NCP05  Supermarket Type1         NaN
47           FDV49  Supermarket Type1         NaN
53           FDA43  Supermarket Type1         NaN
54           NCP18  Supermarket Type1         NaN
56           NCX54  Supermarket Type1         NaN
61           FDV27  Supermarket Type1         NaN

In [ ]:
# Hitung modus Outlet_Size untuk setiap Outlet_Type
mode_outlet_size = data.groupby('Outlet_Type')['Outlet_Size'].agg(lambda x: x.mode().iloc[0])

# Fungsi untuk mengisi Outlet_Size yang NaN berdasarkan Outlet_Type
def fill_outlet_size(row):
    if pd.isnull(row['Outlet_Size']):
        return mode_outlet_size[row['Outlet_Type']]
    else:
        return row['Outlet_Size']

# Terapkan ke dataset
data['Outlet_Size'] = data.apply(fill_outlet_size, axis=1)

# Cek apakah masih ada missing values
print("Sisa missing values Outlet_Size:", data['Outlet_Size'].isnull().sum())

Sisa missing values Outlet_Size: 0